<body style="background-color:black;">
    <div style="text-align:center; font-family:courier; color:white;">
        {% block title %}
        <br><br><br><br><br><br><br><br><br><br>
        <img src="https://cdn-icons-png.flaticon.com/512/4406/4406170.png" width="100px">
        <p style="font-size:50px;">WHATSAPP CONTACTS DOWNLOADER</p>
        {% endblock %}
        {% block content %}
        <p style="font-size:20px; font-weight:bold;">The program has been terminated...</p>
        <p style="font-size:20px; font-weight:bold;">It looks like you intentionally or unintentionally closed the window...</p>
        <br><br>
        <div style="text-align:Center; font-family:courier; padding-right:50px;">
            <p style="font-size:20px; font-weight:bold; color:white;">Back to main page >>>
                <a href="http://127.0.0.1:5000">
                    <button type="button" style="font-family:courier; font-size:20px; font-weight:bold; color:black; background-color:#94d87c;">Main Page</button>
                </a>
            </p>
        </div>
        {% endblock %}
    </div>
</body>