<body style="background-color:black;">
    <div style="text-align:center; font-family:courier; color:white;">
        {% block title %}
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <img src="https://cdn-icons-png.flaticon.com/512/4406/4406170.png" width="100px">
        <p style="font-size:50px;">WHATSAPP CONTACTS DOWNLOADER</p>
        {% endblock %}
        {% block content %}
        <p style="font-size:20px; font-weight:bold;">Input your chat filter</p>
        <form action='/WAContactsDownloader'>
            <select id="chatFilter" name="chatFilter" style="font-family:courier; font-size:20px; font-weight:bold; color:black; background-color:white">
                <option value="">None</option>
                <option value="Unread chats">Unread chats</option>
                <option value="Contacts">Contacts</option>
                <option value="Non-contacts">Non-contacts</option>
                <option value="Groups">Groups</option>
            </select>
            <input type="submit" style="font-family:courier; font-size:20px; font-weight:bold; color:black; background-color:#94d87c;">
        </form>
        {% endblock %}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="text-align:right; font-family:courier; padding-right:50px;">
        <p style="font-size:20px; font-weight:bold; color:white;">For newcomers >>>
            <a href="http://127.0.0.1:5000/tutorialPage">
                <button type="button" style="font-family:courier; font-size:20px; font-weight:bold; color:black; background-color:#94d87c;">Tutorial</button>
            </a>
        </p>
    </div>
</body>